body,
html {
    height: 100%;
    margin: 0;
}

* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.container {
    height: 100%;
    width: 100%;
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.left-pane {
    grid-column: 1/2;
    background-color: #F4F5F7;
    display: flex;
    align-items: center;
}

.main-pane {
    grid-column: 2/3;
    background-color: white;
    filter: drop-shadow(0px 0px 0.5px #000000);
}

#project-list {
    min-height: 3em;
    width: 100%;
    color: white;
    margin: 2em;
    /* border: 1px solid #000000;
    border-radius: 1px; */
}

#dynamic-project-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #45484B;
}

#dynamic-project-list>div {
    padding-left: 2px;
}

.activeProject {
    background-color: #DCE0E4;
    border-radius: 6px;
}

#dynamic-item-list {
    margin: 3em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#new-project-button {
    text-align: center;
    border: 1px solid #bebebe;
    border-radius: 6px;
    color: #bebebe;
    font-size: 0.9em;
}

#newProjectDiv {
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

#new-project-input {
    border: 1px solid #bebebe;
    border-radius: 6px;
    color: #bebebe;
    font-size: 0.9em;
    grid: 1/2;
}

#new-project-submit {
    grid: 2/3;
    width: 100%;
    background-color: #f0f0f0;
    border: 1px solid #bebebe;
    border-radius: 6px;
    padding-left: 4px;
    text-align: center;
}

#itemExpand {
    display: flex;
    gap: 3px;
}

.activeItem {
    background-color: rgb(240, 239, 239);
    border: 1px solid #bebebe;
    border-radius: 6px;
}

#new-item-button {
    text-align: center;
    border: 1px solid #bebebe;
    border-radius: 6px;
    color: #bebebe;
    font-size: 0.9em;
}

#newItemDiv {
    display: grid;
    grid-template-columns: 4fr 0.5fr;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

#new-item-input {
    border: 1px solid #bebebe;
    border-radius: 6px;
    color: #bebebe;
    font-size: 0.9em;
    grid: 1/2;
}

#new-item-submit {
    grid: 2/3;
    width: 100%;
    max-width: 10vw;
    background-color: #f0f0f0;
    border: 1px solid #bebebe;
    border-radius: 6px;
    padding-left: 4px;
    text-align: center;
}

#date-div {
    display: flex;
}

#new-description-submit {
    max-width: 40vw;
    border: 1px solid #bebebe;
    border-radius: 6px;
    color: #494949;
    font-size: 0.9em;
}

#due-date {
    max-width: 10vw;
    border: 1px solid #bebebe;
    border-radius: 6px;
    color: #494949;
    font-size: 0.9em;
}

#new-task-div {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

#task-priority {
    max-width: 10vw;
    border: 1px solid #bebebe;
    border-radius: 6px;
    color: #494949;
    font-size: 0.9em;
}